.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    width: 20rem;
    height: 15rem;
    margin: 0 auto;
    color: #fff;
}